*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: aliceblue;   
}
section>article>h1{
    text-align: center;
    font-family:cursive;
    font-size: 30px;
    text-shadow: 0px 0px 15px red;
    font-weight: bolder;
    color: aliceblue;
}
section>article>h3{
    text-align: center;
    font-family:cursive;
    font-size: 20px;
    text-shadow: 0px 0px 15px red;
    font-weight: bolder;
    color: aliceblue;
    border: 1px solid white;
    border-radius: 10px;
}
section>article>button{
    font-family: cursive;
   height: 30px;
   border: 2px solid white;
   width: 120px;
   border-radius: 15px;
   color: white;
   background-color: black;
   margin-top: 10px;
}